@using LotteryProject.Components

<li class="guest-item">
	<div class="index">
		@Index <!-- Display index here -->
	</div>
	<div class="labels">
		<div class="label-item">
			@GuestItem.GuestSurname
		</div>
		<div class="label-item">
			@GuestItem.GuestName
		</div>
	</div>
	<div class="buttons">
		<button class="custom-btn edit-btn" @onclick="@(() => NavigateToEdit(GuestItem.Id))">
			<i class="fa fa-pencil"></i> Edit
		</button>
		<button class="custom-btn delete-btn" @onclick="@(() => DeleteRowItemFromList(GuestItem.Id))">
			<i class="fa fa-trash"></i> Delete
		</button>
	</div>
</li>
