@using LotteryProject.Client.Shared.Services.Interfaces;
@using LotteryProject.Models.Entities
@using Radzen
@using Radzen.Blazor
<h3>Lottery</h3>
<div>
	<button style="margin-top:10px;margin-left:10px;margin-bottom:15px;background-color: #7E57C2;" class="save-button" @onclick="BackToList">
		<i class="fa fa-reply"></i>
	</button>
</div>
<div display: flex class="rz-p-sm-12 rz-text-align-center">
	<h2>
		Presents:
	</h2>
	<RadzenDropDown @ref=@radzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
					Data=@Presents TextProperty="Description" ValueProperty="Id" AllowClear="true" @bind-Value="@selectedSearchValue" Style="width: 100%; max-width: 400px;" Name="DropDownFiltering" />
</div>
<div style="display: flex; justify-content: center; margin-top: 120px">
	<div class="wrap">
		<button class="lottery-button" type="button" @onclick="@(() => NewLottery())">New Lottery</button>
	</div>
</div>
<WinnerPopUp Title="Congratulations" IsOpened="isOpened">
	<ModalBody>
		<h4>Lottery Winner is:</h4>
		<h2>@lotteryWinner</h2>
	</ModalBody>
	<ModalFooter>
		<button class="btn btn-primary" @onclick="BackToList">Back To List</button>
	</ModalFooter>
</WinnerPopUp>

@code {
	RadzenDropDown<Guid> radzenDropDown;
	bool isOpened = false;

	void OpenModal()
	{
		isOpened = true;
	}
}
