$clr-primary: #81d4fa;
$clr-primary-yellow: #FFD700;
$clr-primary-red: #FF6347;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;
$radius: 0.2rem;

body {
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
    background: $bg;

    &:hover {
        background: darken($bg,8%);
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($bg,25%);
    }
}

.btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
}

.btn-green {
    @include button-bg(#2ecc71);
}

.btn-blue {
    @include button-bg(#3498db);
}

.btn-yellow {
    @include button-bg(#f1c40f);
}

.btn-red {
    @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4em;
}

.pager {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.guest-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.guest-list {
    list-style: none;
}

.index {
    margin-right: 10px;
    font-weight: bold;
}

.labels {
    display: flex;
    flex-direction: row;
}

.label-item {
    margin-right: 20px;
    font-weight: bold;
}

.buttons {
    display: flex;
}

.edit-btn,
.delete-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.custom-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: $clr-primary-yellow;
}

.delete-btn {
    background-color: $clr-primary-red;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.edit-btn:focus,
.delete-btn:focus {
    outline: none;
}

.add-btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.add-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.add-btn:hover {
    background-color: #2c974b;
}

.add-btn:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.add-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.add-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.custom-list {
    margin-bottom: 10px;
}

/* Style the search field */
.input-search {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 10px;
}

/* Style the submit button */
.btn-search {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-bottom: 10px;
}
