<div class="top-row ps-3 navbar navbar-dark">
	<div class="custom-navbar-brand">
		<a href="">LotteryProject</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="custom-home-box" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="GuestList">
				<span class="custom-user-box" aria-hidden="true"></span> Guests
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="PresentList">
				<span class="custom-gift-box" aria-hidden="true"></span> Presents
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="LotteryList">
				<span class="custom-lottery-box" aria-hidden="true"></span> Lotteries
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
